[submodule "உருப்பசு"]
	path = உருப்பசு
	url = https://github.com/247i/Rufus.git
[submodule "உநிகரதுவக்கம்"]
	path = உநிகரதுவக்கம்
	url = https://github.com/247i/UNetbootin.git
[submodule "லிநேஉவபேஉருவாக்கி"]
	path = லிநேஉவபேஉருவாக்கி
	url = https://github.com/247i/LiLiUSB.git
[submodule "ஐ-துவக்கம்"]
	path = ஐ-துவக்கம்
	url = https://github.com/247i/I-Boot.git
[submodule "அகர"]
	path = அகர
	url = https://github.com/247i/01.git
